$color-bg: #ece2d5;
$color-bg-dark: #000;
$color-bg-light: #f5f0ea;
$color-bg-xxlight: #fff;
$color-bg-transparent-black: rgba(0, 0, 0, .6);
$color-fg-dark: #000;
$color-fg-light: #fff;

$navbar-default-link-color: $color-fg-dark;
$navbar-default-bg: $color-bg-xxlight;
$navbar-height: 100px;
