@import 'variables';

.carousel {
  $arrow-size: 50px;
  position: relative;

  .slick-next {
    right: 0;

    &::after {
      content: '▶';
    }
  }

  .slick-prev {
    left: 0;

    &::after {
      content: '◀';
    }
  }

  .slick-arrow {
    background-color: $color-bg-transparent-black;
    border: 0;
    color: $color-fg-light;
    font-size: 0;
    height: $arrow-size;
    line-height: $arrow-size;
    margin-top: -$arrow-size / 2;
    position: absolute;
    top: 50%;
    width: $arrow-size;
    z-index: 1;

    &::after {
      font-size: 20px;
    }
  }

  .slick-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    z-index: -1;
  }
}
