@import 'variables';

footer {
  background-color: $color-bg-light;
  margin-top: 40px;
  padding-bottom: 50px;
  padding-top: 50px;

  .legal-disclaimer-box,
  .logo-box {
    padding-bottom: 30px;
    padding-top: 70px;
    font-size: 12px;
  }

  .logo-box-item {
    display: inline-block;
    vertical-align: bottom;

    img.height-2 {
      height: 60px;
    }

    img.height-1 {
      height: 48px;
      margin-bottom: 5px;
    }

    img {
      margin-right: 10px;
    }

    .hint {
      padding-left: 10px;
    }
  }

  .text {
    margin-top: 15px;
  }

  .authors {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
