// Write your SASS styles here
//
// feel free to use imports.
@import 'footer';
@import 'variables';
@import 'tbox';
@import 'pages/contact';
@import 'pages/bible_index';
@import 'pages/bible_show';
@import 'vendor/bootstrap';

body {
  background-color: $color-bg;
  font-family: 'Montserrat', sans-serif;
  padding-top: $navbar-height + 20px;
}

h1 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 30px;

  &::before {
    content: '➔';
    display: inline-block;
    padding-right: 5px;
  }
}

a {
  &,
  &:hover {
    color: inherit;
    font-weight: 500;
  }
}

.navbar-header {
  .navbar-brand {
    margin-top: -10px;

    img {
      height: 40px;
    }
  }
}
