// Write your SASS styles here
//
// feel free to use imports.
@import 'footer';
@import 'variables';
@import 'tbox';
@import 'pages/contact';
@import 'pages/bible_index';
@import 'vendor/bootstrap';

body {
  background-color: $color-bg;
  font-family: 'Montserrat', sans-serif;
  padding-top: $navbar-height + 20px;
}

a {
  &,
  &:hover {
    color: inherit;
    font-weight: bold;
  }
}
