.page-bible-show > .row > .data-wrapper {
  text-align: center;

  .scan-id {
    margin-bottom: 30px;
  }

  .bible-page {
    display: inline-block;
    margin: auto;

    img {
      max-width: 80vh;
    }

    .previous,
    .next {
      font-size: 40px;
      opacity: .8;
      padding: 15px;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.page-bible-show > .row > .downloads {
  margin-top: 40px;
  text-align: center;

  .button {
    margin-bottom: 20px;
  }
}
