@import '../vendor/bootstrap/variables';

.page-bible-index {
  .bible-list-item {
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid transparent;
    overflow: hidden;

    padding-bottom: 150%;
    position: relative;
    width: 100%;

    &:hover {
      border: 2px solid $color-fg-dark;
    }

    a {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .title {
      background-color: $color-bg-transparent-black;
      bottom: 0;
      color: $color-fg-light;
      left: 0;
      padding: 30px;
      position: absolute;
      right: 0;
    }
  }
}
