.page-bible-show > .row > .data-wrapper {
  text-align: center;

  .scan-id {
    margin-bottom: 30px;
  }

  .bible-page {
    display: inline-block;
    margin: auto;

    .previous,
    .next {
      font-size: 40px;
      opacity: .8;
      padding: 15px;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}
