@import '../vendor/bootstrap/variables';

.page-contact {
  .contact-info-box {
    .tbox-left {
      font-weight: 500;
    }

    .tbox-left,
    .tbox-right {
      margin-bottom: 30px;
      margin-top: 20px;
      max-width: 200px;
      padding-bottom: 20px;
    }
  }

  @media(min-width: $screen-sm-min) {
    .col-map-wrapper {
      text-align: right;

      .map {
        display: inline-block;
        height: 500px;
        width: 500px;
      }
    }
  }

  @media(max-width: $screen-sm-min - 1) {
    .map {
      height: 300px;
      width: 100%;
    }
  }
}
