DJANGO_SECRET_KEY=L2dZeTq5kmgQUFJYJbBjNAZWLFrqoYA4SLYqTshqlc0vkEYi5aMtGYoreGYSGWboxNhBhq0qjk9cxyPO+lVC0Q==

# eg. psql://user:password@localhost:5432/dbname, see github.com/joke2k/django-environ
DJANGO_DATABASE_URL=
