{% extends "base.html" %}

{% block content %}
    <div class="container page-bible-show">
        <div class="row">
            <div class="col-xs-12 data-wrapper">
                <h1>{{ bible.title }}</h1>
                <p class="scan-id">Skan numer: {{ image_id }}</p>

                <div class="bible-page">
                    {% if previous_image_exists %}
                        <a class="previous" href="?page={{ previous_image_id }}">◀</a>
                    {% endif %}

                    <img src="{{ MEDIA_URL }}{{ image.image_small }}" />

                    {% if next_image_exists %}
                        <a class="next" href="?page={{ next_image_id }}">▶</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 downloads">
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        &nbsp;
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a class="button" href="{{ MEDIA_URL }}{{ image.bible.pdf_file }}" download>
                            Pobierz plik PDF
                            <span class="button-icon">⇓</span>
                        </a>
                        <p class="small">
                            Uwaga, plik PDF zawiera skany całej Biblii i może zajmować od kilkuset
                            megabajtów do gigabajta. Jeśli chcesz pobrać skan pojedynczej strony, pobierz plik JPEG.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a class="button" href="{{ MEDIA_URL }}{{ image.image_small }}" download>
                            Pobierz plik JPEG
                            <span class="button-icon">⇓</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
